# @playbook_id: TEMPLATE_IPERF3_SERVICE
# @version: 1
# systemd service unit for iperf3
# QR_UUID={{ instance_uuid }}
[Unit]
Description=quickrobot iperf3 instance {{ instance_name }}
After=network.target

[Service]
Type=simple
User={{ remote_node_user | default('mepaw') }}
WorkingDirectory=/opt/quickrobot/{{ unit_name }}
ExecStart={{ binary_path | default('/usr/bin/iperf3') }} $QR_CLI_ARGS_JOINED
Restart={{ restart_policy | default('no') }}
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
